In [1]:
import pandas as pd

In [2]:
df_hospital_data=pd.read_csv('Hospital_Management.csv')
df_hospital_data

,Unnamed: 0,Patient_ID,Visit_Date,DOB,Age,Patient_Name,Patient_Address,Payment_Mode,Membership,Token
0,0,ASM0405,2021-01-28,04-05-1995,25,Asmita,hdudy,card,No,RKC01282021001
1,0,RAJ2503,2021-02-03,25-03-1996,24,Raj,"Trivandrum,Kerala",card,yes,RKC02032021002

In [3]:
df_doc_data=pd.read_csv("Doctor_entry.csv")
df_doc_data

,Unnamed: 0,Token,Patient_ID,Visit_Date,Doctor_Comments,Remarks,Revisit_Required,Preciption_Number
0,0,RKC01282021001,ASM0405,2021-01-28,Symptoms of viral fever,prescription given,after 5 days,ASM040528012021
1,0,RKC02032021002,RAJ2503,2021-02-03,General fever and cold,prescription given,Yes,RAJ250302032021

In [9]:
from datetime import date
from datetime import datetime

def patient_id_generation(name,date):
    return name.upper()[:3]+date[:2]+date[3:5]

def patient_entry():
    
    entryNumber=input("entry number")
    name=input("Enter Patient Name: ")
    patient_age=input("Age ")
    visit_date=date.today()
    dob=input("Enter Patient Date of Birth (DD-MM-YYYY): ")
    Patient_Address=input("Enter Address: ")
    Payment_Mode=input("Payment by ")
    Membership=input("Membership ")
    patient_id=patient_id_generation(name,dob)
    Token='RKC'+visit_date.strftime("%m%d%Y")+'00'+entryNumber
    
    
    df_temp=pd.DataFrame()

    df_temp['Patient_ID']=[patient_id]
    df_temp['Visit_Date']=[visit_date]
    df_temp['DOB']=[dob]
    df_temp['Age']=[patient_age]
    df_temp['Patient_Name']=[name]
    df_temp['Patient_Address']=[Patient_Address]
    df_temp['Payment_Mode']=[Payment_Mode]
    df_temp['Membership']=[Membership]
    df_temp['Token']=[Token]
    
    return df_temp

def doc_entry():
    
    df_temp=pd.DataFrame()
    Token=input("Token ")
    patient_id=df_hospital_data[df_hospital_data['Token']==Token]['Patient_ID'].tolist()[0]
    visit_date=date.today()
    Doctor_Comments=input("Comments: ")
    Remarks=input("Remarks ")
    Revisit_Required=input("Revisit Required ")
    
    Preciption_Number=patient_id+visit_date.strftime("%m%d%Y")
    
    df_temp['Patient_ID']=[patient_id]
    df_temp['Visit_Date']=[visit_date]
    df_temp['Token']=[Token]
    df_temp['Doctor_Comments']=[Doctor_Comments]
    df_temp['Remarks']=[Remarks]
    df_temp['Revisit_Required']=[Revisit_Required]
    df_temp['Preciption_Number']=[Preciption_Number]
    
    return df_temp
    
    
def payment_entry():
    df_temp=pd.DataFrame()
    Token=input("Token ")
    patient_id=df_hospital_data[df_hospital_data['Token']==Token]['Patient_ID'].tolist()[0]
    Payment_mode=input("Cash or Card")
    Membership=input("Yes or No")
    
    Preciption_Number=patient_id+visit_date.strftime("%m%d%Y")
    
    df_temp['Patient_ID']=[patient_id]
    df_temp['Payment_mode']=[Card or Cash]
    df_temp['Membership']=[Membership]
    df_temp['Token']=[Token]
    
    return df_temp

In [10]:
df_hospital_data=df_hospital_data.append(patient_entry())
df_hospital_data
# df_hospital_data.to_csv("Hospital_Management.csv")

entry number 3
Enter Patient Name:  Ayan
Age  24
Enter Patient Date of Birth (DD-MM-YYYY):  25-03-1996
Enter Address:  asffqfwaswdf
Payment by  card
Membership  no

,Unnamed: 0,Patient_ID,Visit_Date,DOB,Age,Patient_Name,Patient_Address,Payment_Mode,Membership,Token
0,0.0,ASM0405,2021-01-28,04-05-1995,25,Asmita,hdudy,card,No,RKC01282021001
1,0.0,RAJ2503,2021-02-03,25-03-1996,24,Raj,"Trivandrum,Kerala",card,yes,RKC02032021002
0,NaN,AYA2503,2021-02-03,25-03-1996,24,Ayan,asffqfwaswdf,card,no,RKC02032021003

In [11]:
df_doc_data=df_doc_data.append(doc_entry())
df_doc_data
# df_doc_data.to_csv("Doctor_entry.csv")

Token  RKC02032021003
Comments:  kqefuqhfnfqowf
Remarks  ajhuwqfqwfnwfn
Revisit Required  no

,Unnamed: 0,Token,Patient_ID,Visit_Date,Doctor_Comments,Remarks,Revisit_Required,Preciption_Number
0,0.0,RKC01282021001,ASM0405,2021-01-28,Symptoms of viral fever,prescription given,after 5 days,ASM040528012021
1,0.0,RKC02032021002,RAJ2503,2021-02-03,General fever and cold,prescription given,Yes,RAJ250302032021
0,NaN,RKC02032021003,AYA2503,2021-02-03,kqefuqhfnfqowf,ajhuwqfqwfnwfn,no,AYA250302032021

In [12]:
df_hospital_data

,Unnamed: 0,Patient_ID,Visit_Date,DOB,Age,Patient_Name,Patient_Address,Payment_Mode,Membership,Token
0,0.0,ASM0405,2021-01-28,04-05-1995,25,Asmita,hdudy,card,No,RKC01282021001
1,0.0,RAJ2503,2021-02-03,25-03-1996,24,Raj,"Trivandrum,Kerala",card,yes,RKC02032021002
0,NaN,AYA2503,2021-02-03,25-03-1996,24,Ayan,asffqfwaswdf,card,no,RKC02032021003

In [13]:
df_doc_data

,Unnamed: 0,Token,Patient_ID,Visit_Date,Doctor_Comments,Remarks,Revisit_Required,Preciption_Number
0,0.0,RKC01282021001,ASM0405,2021-01-28,Symptoms of viral fever,prescription given,after 5 days,ASM040528012021
1,0.0,RKC02032021002,RAJ2503,2021-02-03,General fever and cold,prescription given,Yes,RAJ250302032021
0,NaN,RKC02032021003,AYA2503,2021-02-03,kqefuqhfnfqowf,ajhuwqfqwfnwfn,no,AYA250302032021

In [14]:
df_hospital_data.drop("Unnamed: 0",axis=1).to_csv("Hospital_Management.csv")
df_doc_data.drop("Unnamed: 0",axis=1).to_csv("Doctor_entry.csv")

In [22]:
x=input("Put Patient_ID to Generate Report")
print("____________________RK HOSPITAL__________________")
print("Name : "+df_hospital_data[df_hospital_data["Patient_ID"]==x]["Patient_Name"].tolist()[0]+"    DOB :"+df_hospital_data[df_hospital_data["Patient_ID"]==x]["DOB"].tolist()[0])
print("comments: "+df_doc_data[df_doc_data["Patient_ID"]==x]["Doctor_Comments"].tolist()[0])
print("revisit : "+df_doc_data[df_doc_data["Patient_ID"]==x]["Revisit_Required"].tolist()[0])
print("prescription number : "+df_doc_data[df_doc_data["Patient_ID"]==x]["Preciption_Number"].tolist()[0])
print("_____________________END_________________________")

Put Patient_ID to Generate Report AYA2503

____________________RK HOSPITAL__________________
Name : Ayan    DOB :25-03-1996
comments: kqefuqhfnfqowf
revisit : no
prescription number : AYA250302032021
_____________________END_________________________